<div class="form-container">
  <h1><%= @book.title %></h1>
  <div class="left">
    <%= image_tag @book.cover, size: '300x500' %>
  </div>
  <label>Author:</label>
  <div><%= @book.author %></div>
  <label>Genres:</label>
  <ul>
    <% @book.genres.each do |genre| %>
      <li><%= genre.title %></li>
    <% end %>
  </ul>
  <label>Short description:</label>
  <div><%= @book.description %></div>
</div>
